<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PreCodePlugin.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />            
        </sectionGroup>
    </configSections>
    <userSettings>
        <PreCodePlugin.Properties.AppSettings>
            <setting name="ShowOptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuroundWith" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HtmlEncode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseBrs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyntaxClassAttribute" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="DoNotDisplayGutter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotShowToolBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CollapseBlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRuler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineCountStart" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DoNotAutoLink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUseSmartTabs" serializeAs="String">
                <value>False</value>
            </setting>
        </PreCodePlugin.Properties.AppSettings>       
    </userSettings>
</configuration>